.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.navbar .navlink{
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
}