.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: black 2px solid;
    padding: 10px;
}

.link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.navlink{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    font-size: 20px;
    text-decoration: none;
}

.navlink:hover{
    color: var(--primary);
    font-weight: bold;
}